/*
Custom Css
*/

/* html{
    overflow-x: hidden !important;
} */
/* .goida{
    position: relative;
   
    
}





@media (min-width: 1200px){
    .goida2{
        max-height: 1000px;
    }
    .goida2{
        margin-bottom: 100px;
    }
}

@media (min-width: 992px){
    .goida2{
        max-height: 1400px;
    }
    
}

@media (min-width: 768px){
    .goida2{
        max-height: 1600px;
    }
}

@media (min-width: 480px){
    
}

@media (min-width: 320px){
    
} */



/* *:not(.goida2), *:not(.goida2)::after, *:not(.goida2)::before {box-sizing: border-box;} */

